.backgroundd {
  background-image: url('https://img.freepik.com/free-photo/elevated-view-laptop-spectacles-pencil-potted-plant-pink-surface_23-2147875629.jpg?t=st=1723265497~exp=1723269097~hmac=38773b027f8955bc84378e8079056d8b188219699779c1faf0d153de0cac00b2&w=1060');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
